@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
}

.skills-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.heading-clamp {
    -webkit-line-clamp: 2;
}

code {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    line-height: normal;
    background: aliceblue;
    color: red;
    border-radius: 4px;
    font-size: 85%;
    padding: 0.2em 0.4em;
    font-weight: 800;
}

code::before,
code::after {
    content: none;
    display: none;
}